{% extends "index.html" %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
      Vaccination program Bangladesh
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome to admin</h5>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
 
        <a href="/" class="btn btn-secondary">Logout</a>
      </div>
      <div class="card border-danger mb-3" style="max-width: 100%;margin-top: 10px;">
        <div class="card-header" style="color: red; font-size: 20px;">Warning!</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text" style="font-size: 17px;">All data here are confidential. You need permission to make changes. </p>
        </div>
      </div>
      <p class="card-text"></p>
      <a href="/adminpanel" class="btn btn-secondary">Click here to make changes</a>
    </div>
    <div class="card-footer text-muted">
     
    </div>
  </div>
{% endblock content %}