{% extends "index.html" %}
{% block content %}
<section class="p-5">
  <div class="container border address-card">
      <span style="text-align: center; font-size: 30px;">Center Address</span>
    {% for x  in centers %}   
    <table class="table table-success table-striped">
        <tr>
            <td> Center id:</td>
             <td>{{x.id}} </td> 
        </tr>
        <tr>
            <td>Street address:</td>
             <td>{{x.street_address}}</td>
        </tr>
        <tr>
            <td>Upazila/City Corporation:</td>
            <td>{{x.upazilla_city_corporation}}</td>
        </tr>
        <tr>
            <td>Ward no:</td>
            <td>{{x.ward_no}}</td>
        </tr>
        <tr>
            <td>District:</td>
            <td>{{x.district}}</td>
        </tr>
      </table>
  {% endfor %}
  </div>
</section>
{% endblock content %}