{% extends "index.html" %}
{% block content %}
<div class="container p-5">
  <div class="container p-3" style="font-size: 17px; margin-bottom: 20px;">Various questions and answers related to registration, next steps, receipt of SMS message, receipt of vaccine card, vaccination center, time of vaccination, 
    dose of vaccine, receipt of final certificate etc. can be found in the following section.</div>
    <div class="container" style="font-size: 20px; margin-bottom: 20px;"><i class="bi bi-question-circle"></i><strong>Frequently Asked Questions about Covid-19 Corona Vaccine</strong></div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
         <strong> <li style="font-size: 17px;"> What to do if OTP is not received at the last step of the registration process? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> You can resend OTP. If you unfortunately close the OTP providing screen, can re-register.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <strong> <li style="font-size: 17px;">If I want to register for Covid-19 coronavirus vaccine, how do I register online? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">You can register by logging on to www.vaccinationprogram.gov.bd web portal.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <strong> <li style="font-size: 17px;"> I have registered for the vaccine online, what should I do next? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Download Vaccine Card from www.vaccinationprogram.gov.bd web portal.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapseOne">
          <strong> <li style="font-size: 17px;"> How can I get a vaccine card for receiving the Covid-19 vaccine?</button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">You can Download Vaccine Card by verifying National Identity Card and Mobile Number from the "Vaccine Card" menu at www.vaccinationprogram.gov.bd</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapseOne">
          <strong> <li style="font-size: 17px;">How do I know the center and date for receiving the vaccine? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">After the successful registration for the vaccine, the date and center of the vaccine will be in vaccine card.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapseOne">
          <strong> <li style="font-size: 17px;">How many doses of Covid-19 vaccine should be taken? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Two doses of Covid-19 vaccine should be taken.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseOne">
          <strong> <li style="font-size: 17px;"> Who can receive Covid-19 vaccine? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapseseven" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">According to the National Covid-19 immunization and action plan, everyone will be vaccinated according to the priority list.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> <li style="font-size: 17px;"> Someone asked, my grandfather is 70 years old but can't get out of bed as paralyzed, how can my grandfather get vaccinated?</button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapseeight" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Covid-19 immunization activities are service based, so the intended person has to come to the immunization center and get vaccinated.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsenine" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> <li style="font-size: 17px;"> Who cannot be vaccinated in this campaign? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapsenine" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Covid vaccine cannot be given to any person other than the target population of the registered / included in the line listing. Pregnant mothers and lactating mothers, under 18 years of age, sick and hospitalized, need to request a vaccination from the designated immunization center as advised by the doctor. Vaccination cannot be done against the will of the person.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseten" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> <li style="font-size: 17px;"> One asked, will a pregnant woman get this vaccine? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapseten" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Pregnant women will not be given Covid-19 vaccine for the time being.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeleven" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> <li style="font-size: 17px;"> NID card is lost, how do I register?</button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapseeleven" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">This Covid-19 vaccine will be brought under online registration through National Identity Card. The Covid-19 vaccine will be given to everyone in phases. So come next with an NID or National Identity Card.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsetwelve" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> <li style="font-size: 17px;"> No vaccination card has been brought, no information can be seen on the mobile; What to do now? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapsetwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">The vaccinator will ask him to reprint the card and bring it back</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethirteen" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> <li style="font-size: 17px;"> Earlier affected by Covid-19 and recovered after treatment, can I get Covid-19 vaccine? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapsethirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Covid-19 vaccine will be given if listed on priority basis.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefourteen" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> <li style="font-size: 17px;"> 28 years old, 5 months pregnant. She works at Covid Hospital; Will Covid-19 get vaccinated? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapsefourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">As the effect of Covid-19 vaccine on pregnant women is not confirmed, pregnant women will not be given Covid-19 vaccine for the time being.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefifteen" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> <li style="font-size: 17px;"> A frontline worker goes home every day after work. So will everyone at home get this vaccine? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapsefifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Vaccination will be given only on the basis of priority list.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesixteen" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> <li style="font-size: 17px;"> If a person from another center / area comes to get vaccinated during vaccination, can he be vaccinated?</button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapsesixteen" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">If he/she is included in the list, then he/she can be vaccinated. The vaccinator must update online.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseventeen" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> <li style="font-size: 17px;"> I have to take pressure medicine every day; Can I be vaccinated? </button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapseseventeen" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Covid-19 vaccine will be given if listed on priority basis.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeightteen" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> <li style="font-size: 17px;"> I had a heart operation 15 days ago; Can I be vaccinated?</button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapseeightteen" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Covid-19 vaccine will be given if healthy and enrolled on priority basis.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsenineteen" aria-expanded="false" aria-controls="flush-collapseOne">
            <strong> <li style="font-size: 17px;"> Does this vaccine have any side effects?</button> </li></strong>
        </button>
      </h2>
      <div id="flush-collapsenineteen" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Like all other medicines or vaccines, this vaccine has the potential for some side effects. However, in most cases, they are very mild, such as pain, swelling, redness at the injection site, muscle and joint pain, weakness, nausea, fever, fatigue etc. No serious side effects have been reported so far, according to clinical trials.
           However, if you have any problem, you must go to the nearest hospital immediately and seek the advice of a doctor.</div>
      </div>
    </div>
</div> 
{% endblock content %}