<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Vaccination Registration</title>

    <style type="text/css">
      body{
        background-color: #FFFFCC;
      }
      .container-fluid{
        background-color: #81A140;
      } 

      .link-style:hover{
        text-decoration: underline;

      }
      .btn-outline-dark:hover{
        background-color: #4D6226 !important;
      }

    </style>
  <body>

    <div class="container-fluid container-fluid-success">
      <header>
        <div class="row">
          <div class="col-lg-5">
            <h1 class="text-center py-2">Vaccination Registration</h1>
          </div>
          <div class="col-lg-7">
            <ul class="nav justify-content-center py-3">
              <div class="d-grid gap-2">
              <button class="btn btn-outline-dark mb-2">
              <li class="nav-item"><a class="text-dark nav-link link-style" href="#">Home</a></li>
              </button>
              <button class="btn btn-outline-dark mb-2">
              <li class="nav-item"><a class="text-dark nav-link link-style" href="#">Registration</a></li>
              </button>
              <button class="btn btn-outline-dark mb-2">
              <li class="nav-item"><a class="text-dark nav-link link-style" href="#">Vaccination Card</a></li>
              </button>
              <button class="btn btn-outline-dark mb-2">
              <li class="nav-item"><a class="text-dark nav-link link-style" href="#">Center Address</a></li>
              </button>
              <button class="btn btn-outline-dark mb-2">
              <li class="nav-item"><a class="text-dark nav-link link-style" href="#">FAQ</a></li>
              </button>
              </div>
            </ul>
          </div>
        </div>
      </header>
    </div>




<!--FOOTER-->
<div class="r">
    <div class="container-fluid">
    <footer>
      <div class="row">
        <div class="col-lg-5">
          <ul class="nav justify-content-center py-3">
              <div class="d-grid gap-2">
              <button class="btn btn-outline-dark mb-2">
              <li class="nav-item"><a class="text-dark nav-link link-style" href="#">About</a></li>
              </button>
              <div class="d-grid gap-2">
              <button class="btn btn-outline-dark mb-2">
              <li class="nav-item"><a class="text-dark nav-link link-style" href="#">Privacy Policy</a></li>
              </button>
              <div class="d-grid gap-2">
              <button class="btn btn-outline-dark mb-2">
              <li class="nav-item"><a class="text-dark nav-link link-style" href="#">Contact</a></li>
              </button>
          </ul>
        </div>
        <div class="col-lg-7">
          <ul class="nav justify-content-center py-3">
              <div class="d-grid gap-2">
              <button class="btn btn-outline-dark mb-2">
              <li class="nav-item"><a class="text-dark nav-link link-style" href="#">Developers</a></li>
              </button>
          </ul>
        </div>
      </div>
    </footer>
        </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>



</html>