{% extends "index.html" %}

{% block content %}


  <div class="container p-5">
    <div class="row">
      <div class="col">

      </div>
      <div class="col-6">
         
        <div class="container p-5 bg-light" style="background-color: silver" >
            <form method="POST" action="" enctype="multipart/form-data">
      
                {% csrf_token %}
            <div class="container" style="text-align: center;font-size: 20px; color:grey;"><i class="bi bi-person-circle"></i> <strong>Admin login</strong> </div>
            <hr style="border: 1px solid black;">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating ">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="m-4" style="text-align: center;">
                <button class="btn btn-secondary" type="submit"><i class="bi bi-box-arrow-in-right"></i> Login</button>
            </div>
       
        </div>
      </div>
      <div class="col">

    </div>
    </div>
   
    </div>
  </div>
{% endblock content %}