{% extends "index.html" %}

{%load crispy_forms_tags %} 

{% block content %}

 <form method="POST" action="" enctype="multipart/form-data" style="margin: 20px;">
      
   {% csrf_token %}
<div class="contaoner" style="padding: 100px;">
   <div class="form-row">
        <div class="form-group col-md-6 mb-0">
           {{ form.NID|as_crispy_field }}
        </div>
        <div class="form-group col-lg-2 col-md-6 mb-0">
             {{ form.Date_of_Birth|as_crispy_field }}
        </div>
   </div>
    
   <div class=" col-lg-3" id="capctha">
  
      {{ form.CAPTCHA|as_crispy_field }}
 
   </div>
    
 
         <button type="submit" class="btn btn-secondary" style="margin-top: 50px;">Verify</button> 

</div>       

   
   

{% endblock content %}
