
    <div class="container p-5" style="font-size: 14px;">
        <div class="row " >
            <div class="col-md-8">
     <hr>     
   <table class="table">
  <thead>
    <tr>
      <th> <img src="https://th.bing.com/th/id/OIP.FZVYZ-MyKgO4QkpLiFldDAHaHa?pid=ImgDet&rs=1" alt="" style="height: 50px; width: 50px;"></th>
        <th scope="col">Covid-19 vaccination card</th>
        <th> <img src="https://mujib100.gov.bd/assets/images/logo.png" alt="" style="height: 60px; width: 70px;"></th>
      </tr>
  </thead>
  <thead>

    <tr>
        <th scope="col"></th>
      </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>NID: {{nid.id}} </td>
      <td>Date: {{registration.date}}</td>
    </tr>
    <tr> 
      <td>Name: {{nid.fname}} {{nid.lname}} </td>
    </tr>
     <tr> 
      <td>Date of birth: {{nid.dob}} </td>
      <td>Age: {{registration.age}}</td>
    </tr>
     <tr> 
      <td>Father's name: {{nid.fathers_name}}</td>
      <td>Mother's name: {{nid.mothers_name}}</td>
    </tr>
    <tr> 
        <td>Street address: {{address.street_address}} </td>
        <td>Upazilla/City Corporation: {{address.upazilla_city_corporation}}</td>
      </tr>
      <tr> 
        <td>Ward no: {{address.ward_no}}</td>
        <td>District: {{address.district}} </td>
      </tr>
     <tr> 
        <td>Center name: {{center.center_name}}</td>
      <td>Center ID: {{center_id.id}}</td>
    </tr>
    
  </tbody>
</table>

<table class="table" style="border: 1px solid black;">
  <thead>
    <tr style="background-color: #ffe4b5;padding-top: 3px;">
      <th  colspan="3" scope="col" style="text-align: center;">Covid-19 vaccination related information</th>
    </tr>
  </thead>
  <thead>
    <tr style="background-color: #ffe4b5;padding-top: 2px; ">
      <th scope="col"style="text-align: center;">Vaccine dose</th>
      <th scope="col"style="text-align: center;">Date of vaccination</th>
      <th scope="col"style="text-align: center;">Signature</th>
    </tr>
  </thead>
  <tbody>
    <tr style="padding-top: 2px;">
      <td style="text-align: center;">Covid-19 vaccine 1st dose</td>
      <td>    </td>
      <td>    </td>
    </tr>
    <tr style="padding-top: 2px;">
      <td style="text-align: center;">Covid-19 vaccine 2nd dose</td>
      <td>    </td>
      <td>    </td>
    </tr>
    <tr style="padding-top: 2px;">
      <td style="text-align: center;">Name of vaccine</td>
      <td colspan="2">     </td>
    </tr>
  </tbody>
</table>



    <div style="margin-top: 30px; font-size: 14px;">
        <strong>Instructions:</strong> <br>
        1) Bring this Vaccine card during vaccination <br>
        2) You will receive a message the day before your date of vaccination
    </div>
            </div>
        </div>
    </div>