 {% extends "index.html" %}

 {% block content %}

 <h1 class="header" style="text-align: center">Vaccine Card</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
               <table class="table">
  <thead>
    <tr>
      <th scope="col" style="text-align: center;">Covid-19 Vaccine Card</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>NID: {{nid.id}} </td>
      <td>DATE: {{registration.date}}</td>
    </tr>
    <tr> 
      <td>Name: {{nid.fname}} {{nid.lname}} </td>
    </tr>
     <tr> 
      <td>Date of birth: {{nid.dob}} </td>
      <td>Age: {{registration.age}}</td>
    </tr>
     <tr> 
      <td>Father's name:{{nid.fathers_name}}</td>
      <td>Mother's name: {{nid.mothers_name}}</td>
    </tr>
    <tr> 
        <td>Street address: {{address.street_address}} </td>
        <td>Upazilla/City Corporation: {{address.upazilla_city_corporation}}</td>
      </tr>
      <tr> 
        <td>Ward no: {{address.ward_no}}</td>
        <td>District: {{address.district}} </td>
      </tr>
     <tr> 
        <td>Center name: {{center.center_name}}</td>
      <td>Center ID: {{center_id.id}}</td>
    </tr>
    
  </tbody>
</table>
            </div>
        </div>
        <div class="btn" style="display: flex; justify-content: center; align-items: center;">
        <a class="btn btn-primary m-2" href="/vaccineCardpdf">Download Vaccine Card</a>
        </div>
    </div>
 
 {% endblock content %}